{% extends 'base.html.twig' %}

{% block title %}Hello ComplementController!
{% endblock %}

{% block body %}

	<div class="container mt-5">
		
        <div class="shadow card p-2 mt-2">
            <div class="p-1 ">		
					<a role="button" href="{{ path('list_complement') }}" class="action float-start">
						<i class="fas fa-arrow-left "></i>
						 Liste des complements 
					</a>
					<h5 class="c-primary float-end">
						Liste des complements
					</h5>
			</div>
		
			<table class="table" style="overflow-x:auto;">
				<thead class="bc-secondary border-0">
					<tr class="border-0">
						<th>#</th>
						<th class="p-3">Nom</th>
						<th class="p-3">Prix</th>
						<th class="p-3">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for complement in complements %}
						<tr>
							<td scope="row" class="p-3">h</td>
							<td class="p-3">{{ complement.nom }}</td>
							<td class="p-3">{{ complement.prix }}</td>
							<td class="p-3">
								<a name="" id="" class="action" style="" href="{{ path('edit_complement',{'id':complement.id}) }}" role="button">
									modifier
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                    
								</a>
								<a name="" id="" class="action" href="{{ path('change_etat',{'id':complement.id}) }}" role="button">
									desarchiver
                                    <i class="fa fa-archive" aria-hidden="true"></i>
                                     
								</a>
								
							</td>
						</tr>
						{% else %}

					{% endfor %}

				</tbody>
			</table>

            <div class="row ">
			    {{ knp_pagination_render(complements,'./pagination.twig') }}
		    </div>

		</div>
	

	</div>

</div>
{% endblock %}
