{% extends 'base.html.twig' %}

{% block title %}Hello ComplementController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="column">
			
			<div class="card">
				{% for message in app.flashes('success') %}
					<div class="alert alert-danger" style="background-color: #adeace;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;">
						{{ message }}
					</div>
				{% endfor %}
				<div class="row" style=" margin-bottom: 14px;">
					<a href="{{path('add_complement')}}" class="btnajout">
						<i class="fas fa-plus "></i>Ajout
					</a>
					<a href="{{path('list_complement_archive')}}"  style="margint-top:1.2%;" class="link">
						Liste des archives
						<i class="fas fa-arrow-right "></i>
					</a>
				</div>
				<div style="overflow-x:auto;">
					<table>
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nom</th>
								<th scope="col">Prix</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						{% for complement in complements %}
							<tr>
								<td class="thbottom">#</td>
								<td class="thbottom">{{complement.nom}}</td>
								<td class="thbottom">{{complement.prix}}</td>
								
								<td class="thbottom">
									<a href="{{path('edit_complement',{'id':complement.id})}}" class="">
										<i class="fas fa-edit edit c-edit"></i>
										update
									</a>
									<a href="{{path('change_etat',{'id':complement.id})}}" class="">
										<i class="fa-solid fa-file-zipper c-primary"></i>
										archiver
									</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>

			<div class="p">
				<div class="pagination">
					{{ knp_pagination_render(complements,'./pagination.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
