{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<style>
		body {
			background-image: url("https://st2.depositphotos.com/3300441/11588/i/950/depositphotos_115884046-stock-photo-burgers-set-background.jpg");
			background-size: cover;
			background-repeat: no repeat;
		}
	</style>
	
	<div class="body">
		<div class="container-login">
			<div class="" style="margin-rigth:auto;padding:5px;">
				<a href="{{path('catalogue')}}" style="color:#e04218;"> 	<i class="fa-solid fa-reply fa-1x"></i> Catalogue</a>
			</div>
			
			<form method="post" class="form">
				{% if error %}
					<div class="alert alert-danger" style="background-color: #e35d6a;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% for message in app.flashes('SuccessIscri') %}
					<div class="alert alert-danger" id="SuccessIscri" style="background-color: green;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;color:#fff;">{{message}}</div>
				{% endfor %}
				
				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.nom }},
						<a href="{{ path('logout') }}">Logout</a>
					</div>
				{% endif %}

				<h2 class="h3 mb-3 font-weight-normal " style="color:#000">Se connecter</h2>
				<div class="form-control">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input" autocomplete="email" >
					<small>Error message</small>
					 <div class="invalid-feedback"></div>
				</div>
				<div class="form-control">
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control input" autocomplete="current-password">
					 <div class="invalid-feedback"></div>
				</div>


				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{# 	<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Remember me
					</label>
				</div> #}


				<button class="btn-login" type="submit">
					Se Connecter
				</button>
				
			</form>
			<div class=""  style="padding: 4px;margin-right:auto;margin-bottom:4px;margin-top:-1%">
				<a href="{{path('register')}}" style="text-align:center;color:#e04218;">Vous n'avez pas de compte ? S'inscrire</a>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/connexion.js')}}"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script>
				setTimeout(function () {
				$('#SuccessIscri').fadeOut('fast');
				}, 2000); // <-- time in milliseconds
				
			</script>
{% endblock %}
