{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<style>
		body {
			background-image: url("https://st2.depositphotos.com/3300441/11588/i/950/depositphotos_115884046-stock-photo-burgers-set-background.jpg");
			background-size: cover;
			background-repeat: no repeat;
		}
	</style>
	{# <section>
				    
				<form method="post">
				   
				    <div class="card w-50 position-relative shadow boreder-none" style="top: 25vh;margin:auto;">
				       
				        <div class="card-body">
				             {% if error %}
				             <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				            {% endif %}
				              <h1 class="h3 mb-3 font-weight-normal text-center">Formulaire de Connexion</h1>
				                <div class="form-group">
				                    <label for="inputEmail" class="mb-2">Email</label>
				                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control hif" autocomplete="email" required autofocus>
				                </div>
				                <div class="form-group">
				                        <label for="inputPassword" class="mb-2">Password</label>
				                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				                </div>
				        </div>
				        <div class="form-group">
				                <input type="hidden" name="_csrf_token"
				            value="{{ csrf_token('authenticate') }}">
				    
				            <button class="btn btn-lg btn-primary float-right mr-2" type="submit">
				                Connexion
				            </button>
				        </div>
				    </div>
				 
				</form>
				</section> #}
	{# <div class="container  justify-content-center">
			<div class="card w-50 position-relative shadow " style="top: 15vh;margin:auto;">
				<div class="card-body ">
					{% if error %}
						<div class="alert alert-danger" role="alert">
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</div>
					{% endif %}
					<h4 class="card-title justify-content-center">Se connecter</h4>
					<form method="POST">
						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label">Email address</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control hif" autocomplete="email" required autofocus>
						</div>
						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label">Password</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						</div>
						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Check me out</label>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	                       <a class="" href="{{path('register')}}">
	                            Disabled link
	                       </a>
						<button type="submit" class="btn btn-primary float-end">Submit</button>
					</form>
				</div>
			</div>
		</div> #}
	<div class="body">
		<div class="container-login">
			<div class="line">
				<a href="{{path('register')}}">S'inscrire? <i class="fa-solid fa-circle-arrow-right"></i></a>
			</div>
			<form method="post" class="form">
				{% if error %}
					<div class="alert alert-danger" style="background-color: #e35d6a;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.nom }},
						<a href="{{ path('logout') }}">Logout</a>
					</div>
				{% endif %}

				<h2 class="h3 mb-3 font-weight-normal " style="color:#000">Se connecter</h2>
				<div class="form-control">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input" autocomplete="email" required autofocus>
					<small>Error message</small>
					 <div class="invalid-feedback"></div>
				</div>
				<div class="form-control">
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control input" autocomplete="current-password" required>
					 <div class="invalid-feedback"></div>
				</div>


				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Remember me
					</label>
				</div>


				<button class="btn-login" type="submit">
					Se Connecter
				</button>
			</form>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/connexion.js')}}"></script>
{% endblock %}
