{% extends 'base.html.twig' %}

{% block title %}Hello BurgerController!{% endblock %}

{% block body %}
{# 
    <div class="container">
        <div class="card mt-5 shadow">
			<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/25d45014-8cc3-4c98-b02c-5a0cf3a55ddd/dcgotp7-361e4632-4c86-4ab2-b562-d07a3f22138c.png/v1/fill/w_900,h_900,strp/black_burger_on_a_transparent_background_by_prussiaart_dcgotp7-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1ZDQ1MDE0LThjYzMtNGM5OC1iMDJjLTVhMGNmM2E1NWRkZFwvZGNnb3RwNy0zNjFlNDYzMi00Yzg2LTRhYjItYjU2Mi1kMDdhM2YyMjEzOGMucG5nIiwiaGVpZ2h0IjoiPD05MDAiLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cLzI1ZDQ1MDE0LThjYzMtNGM5OC1iMDJjLTVhMGNmM2E1NWRkZFwvcHJ1c3NpYWFydC00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.e4snUoo0eWZEcM1vefojEn9xqgDbXP4f-68e9bJSqz8" class="card-img-top mb-0 w-50 mx-auto d-block" alt="...">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>
     #}
     <div class="container">
        <div class="row  p-2">
          <a href="{{path('catalogue')}}" style="" class="ml-3 c-primary"><i class="fa fa-arrow-left "  aria-hidden="true"></i> Retourner</a>
        </div>
      
      <div class="row">
        <div class="col-sm-12 mb-4 ml-auto mr-auto" style="min-width: 22 rem;">
          <div class="card bc-secondary shadow" style="">
          
            <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <img
                            class="card-img-top w-50 mx-auto d-block"  
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/25d45014-8cc3-4c98-b02c-5a0cf3a55ddd/dcgotp7-361e4632-4c86-4ab2-b562-d07a3f22138c.png/v1/fill/w_900,h_900,strp/black_burger_on_a_transparent_background_by_prussiaart_dcgotp7-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1ZDQ1MDE0LThjYzMtNGM5OC1iMDJjLTVhMGNmM2E1NWRkZFwvZGNnb3RwNy0zNjFlNDYzMi00Yzg2LTRhYjItYjU2Mi1kMDdhM2YyMjEzOGMucG5nIiwiaGVpZ2h0IjoiPD05MDAiLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cLzI1ZDQ1MDE0LThjYzMtNGM5OC1iMDJjLTVhMGNmM2E1NWRkZFwvcHJ1c3NpYWFydC00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.e4snUoo0eWZEcM1vefojEn9xqgDbXP4f-68e9bJSqz8"
                            alt="Annonce 1"
                        />
    
                      </div>
                      <div class="col-md-6">
                        <div class="row mt-md-4">
                          <div class=" col-md-12 mt-md-5">
                                
                                  <p class=" text-dark">
                                     <b>Nom :</b> {{burger.nom}}
                                  </p>
                                   <p class=" text-dark">
                                     <b>Prix :</b> {{burger.prix}} fcfa
                                  </p>
                                   <p class="card-text text-dark">
                                      <b>Description :</b> {{burger.description}}
                                  </p>
                          </div>  
                         
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                              <a class="btn btn-primaryV" href="{{path('add_commande_burger',{'id':burger.id})}}" role="button">Commander</a>
                            </div>

                        </div>
                      </div>
                    </div>
              
         
            </div>
          </div>
        </div>
      
      </div>

    </div>
    <style>
        .mt{
            margin-top: 12%;
        }
    </style>



    {% block javascripts %}
        
    {% endblock %}
{% endblock %}