{% extends 'base.html.twig' %}

{% block title %}Hello BurgerController!{% endblock %}

{% block body %}

     <div class="container">
            <div class="column">
               <div class="inline">
                    <h4>
                        Liste des Burgers
                    </h4>
                    <a role="button" href="{{ path('add_burger') }}" class=" btn-ajout">
                        <i class="fas fa-plus "></i>
                        Ajouter
                    </a>
                </div>
                <div class="card">

                       
                    <div class="row" >
                      
                        <a href="{{path('list_burger_archive')}}" style="margin-left:auto" class="link">
                           Liste des archives <i class="fas fa-arrow-right "></i>
                        </a>
                    </div>
                    <div style="overflow-x:auto;">
                    <table >
                        <thead class=" ">
                            <tr class="">
                                <th>#</th>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for burger in burgers %}
                    
                            <tr>
                                <td><img src="{{ asset('img/uploads/' ~ burger.image.nom) }}" class="  rounded-circle" style="width: 35px;height:35px;" alt=""></td>
                                <td>{{ burger.nom }}</td>
                                <td>{{ burger.prix }}</td>
                                <td>{{ burger.description|slice(0, 50) ~ '...'  }}</td>
                                <td>
                                    <a name="" id="" class=" btnUpdate" href="{{ path('edit_burger',{'id':burger.id}) }}" role="button">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                    {% if burger.etat == false %}
                                        <a name="" id="" class=" btnArchive " href="{{ path('change_etat',{'id':burger.id}) }}" role="button">
                                            <i class="fa fa-archive" aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <a name="" id="" class=" btnArchive" href="{{ path('change_etat',{'id':burger.id}) }}" role="button">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                    </div>
                      <div class="p ">
                        <div class="pagination">
                             {{ knp_pagination_render(burgers,'./pagination.twig') }}
                        </div>
                   </div>
                </div>
                  
                  
            </div>
        </div>
{% endblock %}
