{% extends 'base.html.twig' %}

{% block title %}Hello ComplementController!
{% endblock %}

{% block body %}
<style>

html{
  font-size: 62.5%;
}
.home{
	margin-top:-2%;
}
</style>
<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <span>welcome foodies</span>
        <h3>different spices for the different tastes 😋</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis unde dolores temporibus hic quam debitis tenetur harum nemo.</p>
        <a href="#" class="btn">order now</a>
    </div>

    <div class="image">
        <img src="{{asset('img/image/home-b-img.png')}}" alt="" class="home-img">
{#         <img src="{{asset('img/image/home-parallax-img.png')}}" alt="" class="home-parallax-img">
 #}    </div>

</section>

<!-- home section ends  -->
<section class="category">

    <a href="#" class="box">
        <img src="{{asset('img/image/cat-1.png')}}" alt="">
        <h3>combo</h3>
    </a>

    <a href="#" class="box">
        <img src="{{asset('img/image/cat-2.png')}}" alt="">
        <h3>pizza</h3>
    </a>

    <a href="#" class="box">
        <img src="{{asset('img/image/cat-3.png')}}" alt="">
        <h3>burger</h3>
    </a>


    <a href="#" class="box">
        <img src="{{asset('img/image/cat-6.png')}}" alt="">
        <h3>coffee</h3>
    </a>

</section>

<!-- popular section starts  -->

<section class="popular" id="popular">

    <div class="heading">
        <span>popular food</span>
        <h3>our special dishes</h3>
    </div>

    <div class="box-container">

        <div class="box">
           
            <div class="image">
                <img src="{{asset('img/image/food-1.png')}}" alt="">
            </div>
            <div class="content">
                <h3>delicious food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
                <div class="price">$40.00 <span>$50.00</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>

        <div class="box">
           
            <div class="image">
                <img src="{{asset('img/image/food-2.png')}}" alt="">
            </div>
            <div class="content">
                <h3>delicious food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
                <div class="price">$40.00 <span>$50.00</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>

        <div class="box">
           
            <div class="image">
                <img src="{{asset('img/image/food-3.png')}}" alt="">
            </div>
            <div class="content">
                <h3>delicious food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
                <div class="price">$40.00 <span>$50.00</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>

        <div class="box">
           
            <div class="image">
                <img src="{{asset('img/image/food-4.png')}}" alt="">
            </div>
            <div class="content">
                <h3>delicious food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
                <div class="price">$40.00 <span>$50.00</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>

        <div class="box">
           
            <div class="image">
                <img src="{{asset('img/image/food-5.png')}}" alt="">
            </div>
            <div class="content">
                <h3>delicious food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
                <div class="price">$40.00 <span>$50.00</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>

        <div class="box">
           
            <div class="image">
                <img src="{{asset('img/image/food-6.png')}}" alt="">
            </div>
            <div class="content">
                <h3>delicious food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
                <div class="price">$40.00 <span>$50.00</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>

        <div class="box">
           
            <div class="image">
                <img href="{{path('list_commande')}}" src="{{asset('img/image/food-7.png')}}" alt="">
            </div>
            <div class="content">
                <h3>delicious food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
                <div class="price">$40.00 <span>$50.00</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>

        <div class="box">
           
            <div class="image">
                <img src="{{asset('img/image/food-8.png')}}" alt="">
            </div>
            <div class="content">
                <h3>delicious food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
                <div class="price">$40.00 <span>$50.00</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>

    </div>

</section>

<!-- popular section ends -->

<!-- banner section starts  -->

<section class="banner">

    <div class="row-banner">
        <div class="content">
            <span>double cheese</span>
            <h3>burger</h3>
            <p>with cococola and fries</p>
            <a href="#" class="btn">order now</a>
        </div>
    </div>

</section>

<!-- banner section ends -->
<!-- order section starts  -->

<section class="order" id="order">

    <div class="heading">
        <span>order now</span>
        <h3>fastest home delivery</h3>
    </div>

    <div class="icons-container">

        <div class="icons">
            <img src="{{asset('img/image/icon-1.png')}}" alt="">
            <h3>7:00am to 10:30pm</h3>
        </div>

        <div class="icons">
            <img src="{{asset('img/image/icon-2.png')}}" alt="">
            <h3>+123-456-7890</h3>
        </div>

        <div class="icons">
            <img src="{{asset('img/image/icon-3.png')}}" alt="">
            <h3>mumbai, india - 400104</h3>
        </div>

    </div>

    {# <form action="">

        <div class="flex">
            <div class="inputBox">
                <span>your name</span>
                <input type="text" placeholder="customer's name" name="" id="">
            </div>
            <div class="inputBox">
                <span>your number</span>
                <input type="number" placeholder="customer's number" name="" id="">
            </div>
        </div>

        <div class="flex">
            <div class="inputBox">
                <span>your order</span>
                <input type="text" placeholder="food you want" name="" id="">
            </div>
            <div class="inputBox">
                <span>how much</span>
                <input type="number" placeholder="number or orders" name="" id="">
            </div>
        </div>

        <div class="flex">
            <div class="inputBox">
                <span>your details</span>
                <input type="text" placeholder="your message" name="" id="">
            </div>
            <div class="inputBox">
                <span>pick up time</span>
                <input type="datetime-local">
            </div>
        </div>

        <div class="flex">
            <div class="inputBox">
                <textarea placeholder="your address" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="inputBox">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30153.788252261566!2d72.82321484621745!3d19.141690214227783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1634657187694!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>

        <input type="submit" value="proceed to order" class="btn">

    </form> #}
 <iframe class="" height="300" width="1240" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30153.788252261566!2d72.82321484621745!3d19.141690214227783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1634657187694!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
</section>


<!-- order section ends -->
<!-- footer section starts  -->

<section class="footer">

   

    <div class="box-container">

        <div class="box">
            <h3>our menu</h3>
            <a href="#"><i class="fas fa-arrow-right"></i> pizza</a>
            <a href="#"><i class="fas fa-arrow-right"></i> burger</a>
            <a href="#"><i class="fas fa-arrow-right"></i> chicken</a>
            <a href="#"><i class="fas fa-arrow-right"></i> pasta</a>
            <a href="#"><i class="fas fa-arrow-right"></i> and more...</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#home"> <i class="fas fa-arrow-right"></i> home</a>
            <a href="#about"> <i class="fas fa-arrow-right"></i> about</a>
            <a href="#popular"> <i class="fas fa-arrow-right"></i> popular</a>
            <a href="#menu"> <i class="fas fa-arrow-right"></i> menu</a>
            <a href="#order"> <i class="fas fa-arrow-right"></i> order</a>
            <a href="#blogs"> <i class="fas fa-arrow-right"></i> blogs</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> my order</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> my account</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> my favorite</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> terms of use</a>
            <a href="#"> <i class="fas fa-arrow-right"></i> privary policy</a>
        </div>

        <div class="box">
            <h3>opening hours</h3>
            <p>monday : 7:00am to 10:00pm</p>
            <p>tuesday : 7:00am to 10:00pm</p>
            <p>wednesday : 7:00am to 10:00pm</p>
            <p>friday : 7:00am to 10:00pm</p>
            <p>saturday and sunday closed</p>
        </div>

    </div>

    <div class="bottom">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>

        <div class="credit"> created <span>mr. Libasse Laye Mbaye</span> | all rights reserved! </div>
        
    </div>

</section>

<!-- footer section ends -->


{# 	<div class="product-container">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="https://media-mcetv.ouest-france.fr/wp-content/uploads/2017/11/Pizza-Hut-KFC-ou-McDonald%E2%80%99-d%C3%A9couvrez-quel-fast-food-ne-fait-pas-grossir-1-e1511790294976.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>First slide label</h5>
						<p>Some representative placeholder content for the first slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="https://media-mcetv.ouest-france.fr/wp-content/uploads/2017/11/Pizza-Hut-KFC-ou-McDonald%E2%80%99-d%C3%A9couvrez-quel-fast-food-ne-fait-pas-grossir-1-e1511790294976.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>Second slide label</h5>
						<p>Some representative placeholder content for the second slide.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="https://media-mcetv.ouest-france.fr/wp-content/uploads/2017/11/Pizza-Hut-KFC-ou-McDonald%E2%80%99-d%C3%A9couvrez-quel-fast-food-ne-fait-pas-grossir-1-e1511790294976.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>Third slide label</h5>
						<p>Some representative placeholder content for the third slide.</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>


	{% block products %}
		<div
			class="container-fluid product-container">
			
			<div class="container  mb-4">
				<figure class="text-center mt-5">
					<blockquote class="blockquote">
						<h2 style="color:#E04218">Nos Menus</h2>
					</blockquote>
				</figure>
				<div class="row">
					<div class="col-md-2 mt-2">
						<h4>
							Filtrer Par :
						</h4>
					</div>
					<div class="col-md-2">
						<form method="post" action="{{path('catalogue_by_type')}}">
							<select class="form-select" id="select-type" style="border:#E04218 2px solid" aria-label="Default select example">
								<option value="menus" {% if typeSelected is defined %} {% if typeSelected == 'menus' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('catalogue_by_type',{type:'menus'})}}">Menus</option>
								<option value="burgers" {% if typeSelected is defined %} {% if typeSelected == 'burgers' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('catalogue_by_type',{type:'burgers'})}}">Burgers</option>
							</select>
						</form>
					</div>

				</div>
			</div>
		
			<div class="container ">
				<div class="row mb-4">
					{% if burgers is defined %}
						{% for burger in burgers %}
							<div class="col-md-3 mb-4">
								<div class="card card-product">
									<img href="" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/25d45014-8cc3-4c98-b02c-5a0cf3a55ddd/dcgotp7-361e4632-4c86-4ab2-b562-d07a3f22138c.png/v1/fill/w_900,h_900,strp/black_burger_on_a_transparent_background_by_prussiaart_dcgotp7-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1ZDQ1MDE0LThjYzMtNGM5OC1iMDJjLTVhMGNmM2E1NWRkZFwvZGNnb3RwNy0zNjFlNDYzMi00Yzg2LTRhYjItYjU2Mi1kMDdhM2YyMjEzOGMucG5nIiwiaGVpZ2h0IjoiPD05MDAiLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cLzI1ZDQ1MDE0LThjYzMtNGM5OC1iMDJjLTVhMGNmM2E1NWRkZFwvcHJ1c3NpYWFydC00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.e4snUoo0eWZEcM1vefojEn9xqgDbXP4f-68e9bJSqz8" class="card-img-top mb-0 w-75 mx-auto d-block" alt="...">
									<div class="card-body mb-0">
										<h5 class="card-title mb-1">{{burger.nom}}</h5>
										<p class="card-text  mb-0">
										{{burger.prix}}fcfa
										</p>
										<a href="{{path('burger_details',{'id':burger.id})}}" class="btn btn-primary">Voir Details</a>
									</div>
								</div>
							</div>
							{% else %}

						{% endfor %}
					{% endif %}
					{% if menus is defined %}
						{% for menu in menus %}
							<div class="col-md-3 mb-4">
								<div class="card card-product">
									<img href="" src="{{asset('img/uploads/' ~ menu.image.nom)}}" class="card-img-top mb-0 w-75 mx-auto d-block" alt="...">
									<div class="card-body mb-0">
										<h5 class="card-title mb-1">{{menu.nom}}</h5>
										<p class="card-text  mb-0">
											{% set montant = menu.burger.prix %}
											{% set montantC = 0 %}
											{% for comp in menu.complements %}
												{% set montantC = montantC + comp.prix %}
											{% endfor %}
											{{montant + montantC}}fcfa
										</p>
										<a href="{{path('burger_details',{'id':menu.id})}}" class="btn btn-primary">Voir Details</a>
									</div>
								</div>
							</div>
							{% else %}

						{% endfor %}
					{% endif %}

				</div>

				<div class="row ">
					<nav aria-label="Page navigation example " class=" ">
						<ul class="pagination float-end  d-flex gap-2">

							<li class="page-item rounded-1">
								<a class="page-link border border-danger border-1 link-danger" href="#">1</a>
							</li>
							<li class="page-item rounded-1 ">
								<a class="page-link border border-danger border-1 link-danger" href="#">2</a>
							</li>
							<li class="page-item rounded-1 ">
								<a class="page-link border border-danger border-1 link-danger" href="#">3</a>
							</li>
							<li class="page-item rounded-1 ">
								<a class="page-link border border-danger border-1 link-danger" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item rounded-1 ">
								<a class="page-link border border-danger border-1 link-danger" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	{% endblock %}#}

{% endblock %} 
{% block javascripts %}
	{{parent()}}
	<script>
{# 
		const select = document.querySelector('#select-type');
select.addEventListener("change", function (event) {
console.log('true');
const option = event.target.options[select.selectedIndex];
const path = option.getAttribute('data-path')
fetch(path, {
method: 'GET',
headers: {
'Content-Type': 'application/json'
}
}).then(response => response.json()).then(promesse => {
window.location.href = promesse;
}).catch(err => console.log(err))


}); #}
	</script>
{% endblock %}
