{% extends 'base.html.twig' %}

{% block title %}Hello FoodController!
{% endblock %}

{% block body %}
	<style>
		body {
			background: #f9f7ec;
		}
	</style>

	<div class="body">
		<div
			class="container c1">
			{# 	<form method="POST" action="{{path('add_food')}}"> #}
			{{ form_start(form) }}
			<div {# data-aos="fade-up" data-aos-duration="3000" #} id="form" class="form">
				<div class="form-control">
					<label for="">Que voulez vous ajouter</label>
					<select class="form-control" name="type" id="type" onclick="handleClick(this);">
						<option value="{% if element is defined %}{{element.type}}{% endif %}">
							{% if element is defined %}
								{{element.type}}{% else %}Veillez selectionner
							{% endif %}
						</option>
						<option value="menu">menu</option>
						<option value="burger">burger</option>
						<option value="complement">complement</option>
					</select>
					<small></small>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-control">
					<label for="email">nom</label>
					<input type="text" class="input" value="{% if element is defined %}{{element.nom}}{% endif %}" name="nomFood" id="nom" aria-describedby="helpId" placeholder="">
					<small></small>
					<div class="invalid-feedback"></div>
				</div>

				<div id="menuAdd" {% if element is defined %} {% if element.type == 'menu' %} style="display:block;" {% endif %} {% endif %} style="display:none;">
					<div class="form-control" id="burger_champs">
						<label for="">Ajouter un burger au menu</label>
						<select class="form-control" name="burgerNom" id="burger">
							<option value="">Veillez selectionner</option>
							{% for item in burgers %}
								<option {% if element is defined %} {% if element.type == 'menu' and element.burger == item %} selected {% endif %} {% endif %} value="{{item.id}}">{{item.nom}}</option>
							{% endfor %}
						</select>
						<small></small>
						<div class="invalid-feedback"></div>
					</div>
					<div class="checkbox" id="checkbox_champs">
						<label for="">Ajouter des complements au menu</label>
						<div class="check">
							{% for item in complements %}
								<label for="" class="form-check">
									<input type="checkbox" class="complement" name="complementNom[]" id="" value="{{item.id}}">
									{{item.nom}}
								</label>
							{% endfor %}
						</div>
						<small id="smallC"></small>
						<div class="invalid-feedback"></div>
					</div>
				</div>
				<div class="form-control" id="prix_champs" {% if element is defined %} {% if element.type == 'burger' or element.type == 'complement' %} style="display:block;" {% endif %} {% endif %} style="display:none;">
					<label for="email">Prix</label>
					<input type="text" class="input" name="prix" value="{% if element is defined and (element.type == 'burger' or element.type == 'complement') %}{{element.prix}}{% endif %}" id="prix" aria-describedby="helpId" placeholder="">
					<small></small>
					<div class="invalid-feedback"></div>
				</div>


				<div class="form-control">
					<label for="description">Image
					</label>
					{{ form_widget(form.image.nom) }}
					<small></small>
					<div class="invalid-feedback">{{ form_errors(form.image.nom) }}</div>
				</div>

				<button type="submit" name="ajout" value="ok" class="btn ">
					{% if mode is defined %}
						Modifier
					{% else %}
						Ajouter
					{% endif %}
				</button>

			</div>
			{{ form_end(form) }}
			{# </form> #}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/complement.js')}}"></script>
{% endblock %}
