{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
	<style>
		html {
			font-size: 62.5%;
		}
		input {
			cursor: pointer;
		}
	</style>
	{% for message in app.flashes('archiveFood') %}
		<div class="alert alert-danger" id="valide" style="background-color: #adeace;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('archiveErrorFood') %}
		<div class="alert alert-danger" id="valide" style="background-color: #e04218;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;color:#fff">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container">
		<div class="column">

			<div class="card">

				<form method="POST" action="{{path('archive_food')}}">
					<div class="statistic" style="float:right;">
						<button class="btn" name="changeEtat" value="archiver" id="" style="background-color: #fff;border:red 2px solid;color:red;padding:6px;">
							archiver
							<i class="fa fa-archive" aria-hidden="true"></i>
						</button>

					</div>

					<div class="form-filtre">
						<div class="form-inline">
							<label for="type">Filtrer par Type:</label>
							<select class="form-select" id="select-type" aria-label="Default select example">
								<option value="0">selectionner</option>
								<option value="menu" {% if typeSelected is defined %} {% if typeSelected == 'menu' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('food_filtre_by_type',{type:'menu'})}}">Menu</option>
								<option value="burger" {% if typeSelected is defined %} {% if typeSelected == 'burger' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('food_filtre_by_type',{type:'burger'})}}">burger</option>
								<option value="complement" {% if typeSelected is defined %} {% if typeSelected == 'complement' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('food_filtre_by_type',{type:'complement'})}}">complement</option>
							</select>

						</div>

					</div>


					<div style="overflow-x:auto;">
						<table>
							<thead>
								<tr>
									<th
										scope="col">{#  <input name="" id="check-all" class="" type="checkbox" value=""> #}
									</th>
									<th scope="col">image</th>
									<th scope="col">food</th>
									<th scope="col">Type</th>
									<th scope="col">prix</th>
									<th scope="col">action</th>
								</tr>
							</thead>
							{% for allFood in allFoods %}
								<tr>
									<td class="thbottom">
										<input type="checkbox" name="archivesAll[]" value="{{allFood.id ~ allFood.type}}" class="item-check">
									</td>
									<td class="thbottom">
										<img src="{{asset('img/uploads/' ~ allFood.image.nom)}}" alt="" class="" style="width:55px;height:55px">
									</td>
									<td class="thbottom">
										{{allFood.nom}}
									</td>
									<td class="thbottom">{{allFood.type}}</td>
									<td class="thbottom">
										{% if allFood.type != 'menu' %}
											{{allFood.prix}}
											FCFA
										{% else %}
											{% set total = 0 %}
											{% set montant = 0 %}
											{% for item in allFood.complements %}
												{% set montant = montant + item.prix %}
											{% endfor %}
											{% set total = montant + allFood.burger.prix  %}
											{{total}}
											FCFA
										{% endif %}

									</td>
									<td class="thbottom">
										<a href="{{path('edit_food',{'id':allFood.id ~ allFood.type})}}" class="">
											<i class="fas fa-edit edit c-edit"></i>
											éditer
										</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</form>
				{% if typeSelected is not defined %}
					<div class="p">
						<div class="pagination">
							{{ knp_pagination_render(allFoods,'./pagination.twig') }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script>
		// In your Javascript (external .js resource or <script> tag)


setTimeout(function () {
$('#valide').fadeOut('fast');
}, 1120); // <-- time in milliseconds
$(function () {
$(document).on("change", "#select-type", function () { // alert(true);
const path = $(this).find(":selected").data("path");
$.ajax({
url: path, type: "GET", dataType: "JSON", // or html or whatever you want
success: function (data) {
window.location.href = data;
}
});
});
});


$(function () { // button select all or cancel
$("#check-all").click(function () {
$(".item-check").each(function (index, item) {
item.checked = true;
});
});
});


	</script>
{% endblock %}
