{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-5 mb-2">
			<div class="col-md-2 mt-2">
				<h4>
					Filtrer par :
				</h4>
			</div>
			<div class="col-md-2 mb-1">
				<select class="form-select" style="border:#E04218 2px solid" aria-label="Default select example">
					<option selected>burger ou menu</option>
					<option value="1">Burger</option>
					<option value="2">Menu</option>
				</select>
			</div>
			<div class="col-md-2 mb-1">
				<select class="form-select" id="etat" style="border:#E04218 2px solid" aria-label="Default select example">
					<option selected>etat</option>
					<option value="1">en cours</option>
					<option value="2">valider</option>
				</select>
			</div>
			<div class="col-md-2 mb-1">
				<select class="form-select" id="select-client" style="border:#E04218 2px solid" aria-label="Default select example">
					<option selected>Client</option>
					{% for client in clients %}
						<option 
						{% if clientSelected is defined %} {% if clientSelected == client.id %} selected="selected" {% endif %} {% endif %}
							data-path="{{ path('commande_filtre_by_client',{id:client.id})}}"
							 value="{{client.id}}">
							{{client.email}}
						</option>
						{% else %}

					{% endfor %}
				</select>
			</div>
			<div class="col-md-2 mb-1">
				<input type="date" class="form-control" name="date" style="border:#E04218 2px solid" id="date" aria-describedby="helpId" placeholder="">
			</div>

		</div>
		<div class="shadow p-4">

			<table class="  table border-none">
				<thead>
					<tr>

						<th>Commande</th>
						<th>Etat</th>
						<th>Montant</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					{% for commande in commandes %}

						<tr>
							{# <td>{{commande.date|date("d/m/Y")}}</td> #}

							<td>{{commande.quantite}}x{{commande.burger.nom}}

								{% if commande.burger.complements %}
									{% for complement in commande.burger.complements %}
										+
										{{complement.nom}}

									{% endfor %}
								{% endif %}
							</td>
							<td>
								{% if commande.etat == false %}
									En cours
								{% else %}
									Terminer
								{% endif %}
							</td>
							<td>{{commande.montant}}
								fcfa</td>
							<td>
								{% if commande.etat == false %}
									<a href="{{path('valider_commande',{'id':commande.id})}}" class="">
										<span class="badge bc-primary">Valider</span>
									</a>
								{% else %}
									<a href="{{path('valider_commande',{'id':commande.id})}}" class="">
										<span class="badge bg-danger">Annuler</span>
									</a>
								{% endif %}
							</td>
						</tr>

					{% endfor %}

				</tbody>
			</table>
			<div class="row ">
			 {% if clientSelected is not defined %}
                 {{ knp_pagination_render(commandes,'./pagination.twig') }}
            {% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		const select =document.querySelector('#select-client');
                   select.addEventListener("change",function(event){
                       console.log('true');
                         const option=event.target.options[select.selectedIndex];
                         const path=option.getAttribute('data-path')
                         fetch(path,{
                           method: 'GET',
                           headers: {
                             'Content-Type': 'application/json'
                           }
                         }).then(response => response.json())
                           .then(promesse => {
                                 window.location.href=promesse;  
                             })
                           .catch(err => console.log(err)) 
                             
                  
                   });

				   
	</script>
{% endblock %}
