{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
	<style>
		html {
			font-size: 62.5%;
		}
	</style>

	<div class="container">
		<div class="column">

			<div class="card">
				<div class="form-filtre">
					<form method="POST" action="{{path('commande_filtre_by_etat')}}">
						<div class="col-md-2">
							<label>Filter les commandes :</label>
							<select class="form-select" id="select-etat" aria-label="Default select example">
								<option value="encours" {% if etatSelected is defined %} {% if etatSelected == 'encours' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('commande_filtre_by_etat',{etat:'encours'})}}">En cours</option>
								<option value="valider" {% if etatSelected is defined %} {% if etatSelected == 'valider' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('commande_filtre_by_etat',{etat:'valider'})}}">Valider</option>
								<option value="terminer" {% if etatSelected is defined %} {% if etatSelected == 'terminer' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('commande_filtre_by_etat',{etat:'terminer'})}}">Terminer</option>
							</select>
						</div>

					</form>
				</div>
				{% for message in app.flashes('success') %}
					<div class="alert alert-danger" style="background-color: #adeace;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;">
						{{ message }}
					</div>
				{% endfor %}

				<div style="overflow-x:auto;">
					<table>
						<thead>
							<tr>
								<th scope="col">Commande</th>
								<th scope="col">details</th>
								<th scope="col">Date</th>
								<th scope="col">Etat</th>
								<th scope="col">Montant</th>
								<th scope="col">Payement</th>

								<th scope="col">Action</th>
							</tr>
						</thead>
						{% for commande in commandes %}
							<tr>

								<td class="thbottom">
								N° {{commande.numero}}
								</td>
								<td class="thbottom">
									<a href="{{path('details_commande',{id:commande.id})}}" class="btnajout">
										<i class="fas fa-plus"></i>
										voir
									</a>
								</td>
								<td class="thbottom">{{commande.date|date("d/m/Y")}}</td>
								<td class="thbottom">{{commande.etat}}</td>
								<td class="thbottom">{{commande.montant}}
									FCFA</td>
								<td class="thbottom">
									{% if commande.paiement %}
									<i class="fas fa-check-double  " style="color:green;"></i>
									{% else %}
									<i class="fa fa-exclamation-circle c-primary" aria-hidden="true"></i>
									{% endif %}
								</td>
								<td class="thbottom">
									{% if commande.etat == 'encours' %}
										<a href="{{path('valider_commande',{id:commande.id})}}" onclick="return confirm('Voulez-vous valider cette commande?');" class="btnSuccess">
											valider
										</a>
										<a href="{{path('valider_commande',{id:commande.id})}}" onclick="return confirm('Voulez-vous annuler cette commande?');" class="btnRed">
											annuler
										</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>

			{# <div class="p">
							<div class="pagination">
								{{ knp_pagination_render(commandes,'./pagination.twig') }}
							</div>
						</div> #}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		const select = document.querySelector('#select-etat');
select.addEventListener("change", function (event) {
console.log('true');
const option = event.target.options[select.selectedIndex];
const path = option.getAttribute('data-path')
fetch(path, {
method: 'GET',
headers: {
'Content-Type': 'application/json'
}
}).then(response => response.json()).then(promesse => {
window.location.href = promesse;
}).catch(err => console.log(err))


});
	</script>
{% endblock %}
