{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
	<style>

		.retour {
			margin-top: 1%;

		}
		.retour a:not(.payer) {
			color: #e04218;
		}
		h3 {
			color: #000;
		}
		.etat {
			position: absolute;
			top: 0;
			padding: 5px;
			left: 1px;
			background: #ddd;
			font-size: 15px;
		}
		.payer {
			float: right;
			color: #fff;
			margin-top: -2.5%;
		}
	</style>
	<!-- popular section starts  -->
	{% for message in app.flashes('add_commande') %}
		<div class="alert alert-danger" id="add_commande" style="background-color: #adeace;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('paiement') %}
		<div class="alert alert-danger" id="add_commande" style="background-color: #adeace;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;">
			{{ message }}
			<a href="{{path('facture')}}"> (Cliquer pour telecharger le facture) </a>
		</div>
	{% endfor %}
	{% for message in app.flashes('invalide_paye') %}
		<div class="alert alert-danger" id="add_commande" style="background-color: #e04218;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;color:#fff;">
			{{ message }}
		</div>
	{% endfor %}
	<section class="retour" id="">

		<a href="{{path('catalogue')}}">
			<i class="fa-solid fa-reply fa-1x"></i>
			catalogue
		</a>
		<form method="POST" action="{{path('mes_commandes')}}">
			<input type="hidden" name="isTrue" value="{% if etatSelected is defined %}{% if etatSelected == 'valider' %}true{% endif %}{% endif %}"> 
			
			<button type="submit" style="border:none;" class="payer btn" id="payer-commandes" name="payer" value="pay" {# href="{{path('payer')}}" #}>
				Payer
				<i class="fa-solid fa-money-bill-transfer"></i>
			</button>
		
		</section>

		<section class="popular" id="popular">

			<div class="heading">
				<span>Mes commandes</span>
			</div>

			<div
				class="form-filtre">
				{# <form method="POST" action="{{path('commande_filtre_by_etat')}}"> #}
				<div class="col-md-2">
					<label>Filter les commandes :</label>
					<select class="form-select" id="select-etat" aria-label="Default select example">
						<option value="encours" {% if etatSelected is defined %} {% if etatSelected == 'encours' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('commande_filtre_by_etat',{etat:'encours'})}}">En cours</option>
						<option value="valider" {% if etatSelected is defined %} {% if etatSelected == 'valider' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('commande_filtre_by_etat',{etat:'valider'})}}">Valider</option>
						<option value="annuler" {% if etatSelected is defined %} {% if etatSelected == 'annuler' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('commande_filtre_by_etat',{etat:'annuler'})}}">Annuler</option>
						<option value="terminer" {% if etatSelected is defined %} {% if etatSelected == 'terminer' %} selected="selected" {% endif %} {% endif %} data-path="{{ path('commande_filtre_by_etat',{etat:'terminer'})}}">terminer</option>
					</select>
				</div>
				{# </form> #}
			</div>
			<div class="div-content" style="overflow-x: auto;">
				<table class="content-table">
					<a disabled class="btn" id="check-all">Tout cocher
						<i class="fa fa-check" aria-hidden="true"></i>
					</a>
					<a id="decheck-all" disabled class="btn" style="margin-left:2%">Tout decocher</a>
					<thead>
						<tr>
							<th></th>
							<th>Commande</th>
							<th>Date</th>
							<th>Etat</th>
							<th>Montant(FCFA)</th>
							<th>paiement</th>
						</tr>
					</thead>

					<tbody {# data-aos="fade-up" data-aos-duration="2000" #}>

						{% for commande in commandes %}
							<tr>
								<td>
									
										<input type="checkbox"
										 name="tabChecks[]" value="{{commande.id}}" class="pay-check check-one">
									
								</td>
								<td>{# N°
									<a href="{{path('details_commande',{id:commande.id})}}" disabled class="">
										{{commande.numero}}
									</a> #}
									{# <form method="POST" action="{{path('details_commande',{id:commande.id})}}"> #}
										 <button type="submit" name="details" value="{{commande.id}}" style="background:none;border:none;cursor:pointer;color:blue;" class="">{{commande.numero}} {# <i class="fa-solid fa-eye"></i> #}</button>
									{# </form> #}
								</td>
								<td>{{commande.date|date('d/m/Y')}}</td>
								<td>
									{{commande.etat}}
								</td>
								<td>
									{{commande.montant}}
								</td>
								<td>
									{% if commande.paiement %}
										<i class="fas fa-check-double  " style="color:green;"></i>
									{% else %}
										<i class="fa fa-exclamation-circle c-primary" aria-hidden="true"></i>
									{% endif %}
								</td>

							</tr>
						{% endfor %}
						
					</tbody>


				</table>
			</div>
	</form>
		
	</section>

	<!-- popular section ends -->
	<!-- banner section starts  -->

	<section class="banner">

		<div class="row-banner">
			<div class="content">
				<span>double cheese</span>
				<h3>burger</h3>
				<p>with cococola and fries</p>
				<a href="#" class="btn">order now</a>
			</div>
		</div>

	</section>

	<!-- banner section ends -->
	<!-- order section starts  -->

	<section class="order" id="order">

		<div class="heading">
			<span>order now</span>
			<h3>fastest home delivery</h3>
		</div>

		<div class="icons-container">

			<div class="icons">
				<img src="{{asset('img/image/icon-1.png')}}" alt="">
				<h3>7:00am to 10:30pm</h3>
			</div>

			<div class="icons">
				<img src="{{asset('img/image/icon-2.png')}}" alt="">
				<h3>+221 77-809-86-33</h3>
			</div>

			<div class="icons">
				<img src="{{asset('img/image/icon-3.png')}}" alt="">
				<h3>Dakar, Senegal - 400104</h3>
			</div>

		</div>

		<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d63612502.52014224!2d-11.285175924981752!3d13.312969429018338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xec173c21564c333%3A0x504d9e7bb5384f5a!2sEcole%20221%2C%20Dieuppeul%201%20Villa%20en%20face!3m2!1d14.716926299999999!2d-17.45194!5e0!3m2!1sfr!2ssn!4v1652188228495!5m2!1sfr!2ssn" width="1240" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>


	<!-- order section ends -->
	<!-- footer section starts  -->

	<!-- footer section starts  -->

	<section class="footer">


		<div class="box-container">

			<div class="box">
				<h3>Nos Menus</h3>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					Boisson</a>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					burger</a>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					frites</a>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					menus</a>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					et plus...</a>
			</div>

			<div class="box">
				<h3>Liens rapides</h3>
				<a href="#home">
					<i class="fas fa-arrow-right"></i>
					Accueil</a>
				<a href="#about">
					<i class="fas fa-arrow-right"></i>
					Pourquoi?</a>
				<a href="#popular">
					<i class="fas fa-arrow-right"></i>
					Nos Menus</a>
				<a href="#menu">
					<i class="fas fa-arrow-right"></i>
					menu</a>
				<a href="#order">
					<i class="fas fa-arrow-right"></i>
					et plus</a>

			</div>

			<div class="box">
				<h3>extra links</h3>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					my order</a>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					my account</a>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					my favorite</a>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					terms of use</a>
				<a href="#">
					<i class="fas fa-arrow-right"></i>
					privary policy</a>
			</div>

			<div class="box">
				<h3>Heures d'ouvertures</h3>
				<p>lundi : 7:00am a 10:00pm</p>
				<p>mardi : 7:00am a 10:00pm</p>
				<p>mercredi : 7:00am a 10:00pm</p>
				<p>jeudi : 7:00am a 10:00pm</p>
				<p>vendredi  7:00am a 10:00pm</p>
				<p>samedi : 7:00am a 10:00pm</p>

			</div>

		</div>

		<div class="bottom">

			<div class="share">
				<a href="#" class="fab fa-facebook-f"></a>
				<a href="#" class="fab fa-twitter"></a>
				<a href="#" class="fab fa-instagram"></a>
				<a href="#" class="fab fa-linkedin"></a>
				<a href="#" class="fab fa-pinterest"></a>
			</div>

			<div class="credit">
				creer par
				<span>mr. Libasse Laye Mbaye</span>
				| all rights reserved!
			</div>

		</div>

	</section>

{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{asset('js/commande.js')}}"></script>


{% endblock %}
