{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
	<style>
		.retour {
			margin-top: 1%;

		}
		.retour a {
			color: #e04218;
		}
		.box .fa-times {
			cursor: pointer;
		}
		.fa-plus{
			color:white;
		}
		.fa-minus{
			color:white;
		}
	</style>
	<section class="retour" id="">
		<a href="{{path('mes_commandes')}}">
			<i class="fa-solid fa-reply fa-1x"></i>
		</a>
	</section>

	<section class="shopping-cart-container active">
		{% for message in app.flashes('produitremove') %}
			<div class="alert alert-danger" id="produitremove" style="background-color: #adeace;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;">
				{{ message }}
			</div>
		{% endfor %}
		<div class="products-container">
			{% if app.user %}
			{% else %}
				{% set panierWithData = "<script>localStorage.getItem('panierData');</script>" %}	
				<script>
				localStorage.removeItem('panierData');
				</script>
			{% endif %}
			<h3 class="title">Votre Panier {% if panierWithData|length == 0  %} est vide! {% endif %}</h3>
			{% if panierWithData %}
			 	<div id="" data-is-authenticated="{{panierWithData|json_encode}}"  class="box-container initdata">
			
							{% for item in panierWithData %}
			
								<div class="box">
			
									<a class="a-remove" href="{{path('remove_panier',{id:item.product.id ~ item.product.type})}}">
										<i class="fas fa-times"></i>
										<a/>
			
										<img src="{{asset('img/uploads/' ~ item['product'].image.nom)}}" alt="">
										<div class="content">
											<h3>{{item['product'].nom}}</h3>
											<span>
												quantite :
											</span>
											<a href="{{path('add_panier2',{id: item.product.id ~ item.product.type})}}" class="btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
											<span>{{item['quantite']}}</span>
											 <a href="{{path('retire_panier',{id: item.product.id ~ item.product.type })}}" class="btn"><i class="fa fa-minus" aria-hidden="true"></i></a>
											<br>
											<span>
												prix :
											</span>
											<span class="price">
												{% if item['product'].type == 'menu' %}
													{% set montant = 0 %}
													{% for complement in item['product'].complements %}
														{% set montant = montant + complement.prix %}
													{% endfor %}
													{{(item['product'].burger.prix + montant) * item['quantite']}}
												{% else %}
													{{item['product'].prix * item['quantite']}}
												{% endif %}
											</span>
										</div>
									</div>
			
								{% endfor %}
			
							</div>
			
						</div> 
			
				<div class="cart-total">

					<h3 class="title">
						 total panier
					</h3>

					<div class="box">

						<h3 class="subtotal">
							subtotal :
							<span>{{total}}
								FCFA</span>
						</h3>
						<h3 class="total">
							total :
							<span>{{total}}
								FCFA</span>
						</h3>

						<a href="{{path('checkOut')}}" class="btn">Finalise ta commande</a>

					</div>

				</div>
			{% endif %}

		</section>

	{% endblock %}
	{% block javascripts %}
		{{parent()}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		 <script>
		 setTimeout(function() {
						$('#produitremove').fadeOut('fast');
					}, 1000); 
			document.addEventListener('DOMContentLoaded', function() {
				var userRating = document.querySelector('.initdata');
				var panier = userRating.dataset.isAuthenticated;
				  localStorage.setItem('panierData',panier)
				// or with jQuery
				//var isAuthenticated = $('.js-user-rating').data('isAuthenticated');
			});

					
			{#  localStorage.setItem('panierData',"{{app.session.get('panier')}}")
			 console.log(JSON.parse(localStorage.getItem('panierData'))); #}
		 </script> 
	{% endblock %}
