<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
			<link
			href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

			{# 			<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/assets/css/chat.min.css">
						 #}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
			<link rel="stylesheet" href="{{ asset('stylesheets/screen.css') }}"/>
		{% endblock %}


	</head>
	<body>

		{% block menu %}

			<!-- header section starts  -->

			<header class="header">

				<a href="{{path('catalogue')}}" class="logo">
					Brasil<i class="fa-solid fa-burger"></i>Burger
				</a>

				<nav class="navbar">

					{% if is_granted("ROLE_CLIENT") %}
						<a href="{{path('catalogue')}}">Accueil</a>
						<a class="" href="{{path('mes_commandes')}}">Mes Commandes</a>
					{% endif %}
					{% if is_granted("ROLE_GESTIONNAIRE") %}
						<a class="a" href="{{path('list_burger')}}">Burger</a>
						<a class="a" href="{{path('list_menu')}}">Menu</a>
						<a class="a" href="{{path('list_complement')}}">Complement</a>
						<a class="a" href="{{path('list_commande')}}">Commandes</a>
						<a class="a" href="{{path('dashboard')}}">Tableau de bord</a>
					{% endif %}
				</nav>

				<div class="icons">
					<div id="menu-btn" class="fas fa-bars"></div>
					{% if not is_granted('ROLE_GESTIONNAIRE') %}
						<a href="{{path('list_panier')}}">
							<div id="cart-btn" class="fas fa-shopping-cart">

								{% if app.session.get('panier')|length > 0 %}
									{% set var = 0 %}
									{% for item in app.session.get('panier') %}
										{% set var = var + item %}
									{% endfor %}
									<p class="number">{{var}}</p>
								{% endif %}
							</div>
						</a>
					{% endif %}

					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<a href="{{path('logout')}}">

							<div id="cart-btn" class="fa-solid fa-arrow-right-from-bracket"></div>
						</a>
					{% endif %}
					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}

						<a href="{{path('login')}}">

							<div id="login-btn" class="fas fa-user"></div>
						</a>
					{% endif %}
				</div>

			</header>

			<!-- header section ends  -->

		{% endblock %}
		{% block body %}{% endblock %}
		{% block javascripts %}
			<script src="{{asset('js/menu.js')}}"></script>
			<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

			<script>
				AOS.init();
			</script>
			<script>
				setTimeout(function () {
				$('#archive').fadeOut('fast');
				}, 1100); // <-- time in milliseconds
			</script>
			{# 	<script>
										var botmanWidget = {
											frameEndpoint: '/iFrameUrl'    
										};
									</script>
									<script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script> #}

		{% endblock %}

	</body>
</html>
