{% if pageCount > 1 %}

	{# 
			{% if startPage > 1 %}
				<a class="a" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
				{% if startPage == 3 %}
					<a class="a" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
				{% elseif startPage != 2 %}
					<a disabled class="a">&hellip;</a>
				{% endif %}
			{% endif %}
		
			{% for page in pagesInRange %}
				{% if page != current %}
					<a class="a" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
				{% else %}
					<a class="active">{{ page }}</a>
				{% endif %}
		
			{% endfor %}
		
			{% if pageCount > endPage %}
				{% if pageCount > (endPage + 1) %}
					{% if pageCount > (endPage + 2) %}
						<a disabled class="a">&hellip;</a>
					{% else %}
						<a class="a" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
					{% endif %}
				{% endif %}
				<a class="a" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
			{% endif %}
		
			{% if previous is defined %}
				<a class="laquo" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;</a>
			{% else %}
				<a class="page-link">&laquo;&nbsp;</a>
			{% endif %}
			{% if next is defined %}
				<a class="laquo" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&nbsp;&raquo;</a>
			{% else %}
				<a disabled class="laquo">&nbsp;&raquo;</a>
			{% endif %} #}
	<nav aria-label="Page navigation example " class=" ">
		<ul class="pagination float-end  d-flex gap-2">

			<li class="page-item rounded-1">
				{% if startPage > 1 %}
					{# <a class="a" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a> #}
					<a class="page-link border border-danger border-1 link-danger" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
					{% if startPage == 3 %}
						<a class="page-link border border-danger border-1 link-danger" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
						{# {% elseif startPage != 2 %}
																														<a disabled class="a">&hellip;</a> #}
					{% endif %}
				{% endif %}

			</li>
			{% for page in pagesInRange %}
				{% if page != current %}
					{# <a class="a" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a> #}
					<li class="page-item rounded-1 ">
						<a class="page-link border border-danger border-1 notactive" href="{{ path('catalogue', query|merge({(pageParameterName): page})) }}">{{page}}</a>
					</li>
				{% else %}
					{# <a class="active">{{ page }}</a> #}
					<li class="page-item rounded-1 ">
						<a class="page-link border border-danger active border-1 ">{{page}}</a>
					</li>
				{% endif %}

			{% endfor %}
                        {% if previous is defined %}
				{# <a class="laquo" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;</a> #}
                                <li class="page-item rounded-1 ">
					<a class="page-link border active2 border-danger border-1 " href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Next">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% else %}
                                <li class="page-item rounded-1 ">
					<a class="page-link border border-danger border-1 link-danger" disabled aria-label="Next">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
                        {% endif %}
			{% if next is defined %}
				<li class="page-item rounded-1 ">
					<a class="page-link border border-danger border-1 active2" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Previous">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
                        {% else %}
                                 <li class="page-item rounded-1 ">
					<a class="page-link border border-danger border-1 link-danger" disabled aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% endif %}
			
				
			</ul>
		</nav>
	{% endif %}
