{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
	 <div class="container-fluid mt-5">
		<div class="card shadow">
			<div class="card-body">
				<h4 class="text-center">Ajout Menu</h4>
				{{form_start(form)}}
				<div class="mb-3">
					<label for="" class="">Nom Menu</label>
					{{form_widget(form.nom)}}
					<div class="invalid-feedback">
						
					</div>
					<small id="helpId" class="text-danger">
						{{form_errors(form.nom)}}
					</small>
				</div>
				<div class="mb-3">
					<label for="" class="">Burger</label>
					{{form_widget(form.burger)}}
					<div class="invalid-feedback">
						
					</div>
					<small id="helpId" class="text-danger">
						{{form_errors(form.burger)}}
					</small>
				</div>
				<div class="mb-3">
					<label for="" class="">Complements</label>
					{{form_widget(form.complements)}}
					<div class="invalid-feedback">
						
					</div>
					<small id="helpId" class="text-danger">
						{{form_errors(form.complements)}}
					</small>
				</div>
			
				<div class="mb-3">
					<label for="formFile" class="">Image</label>
					{{form_widget(form.image.nom)}}
					<div class="invalid-feedback">
						
					</div>
					<small id="helpId" class="text-danger">
						{{form_errors(form.image.nom)}}
					</small>
				</div>
				{{ form_row(form._token) }}
				<button type="submit" class="btn btn-primary " style="float:right">Enregistrer</button>
				{{form_end(form)}}
			</div>
		</div>

	</div>
		
{% endblock %}
{% block javascripts %}
	<script src="{{asset('js/menuBurger.js')}}"></script>
{% endblock %}
