{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
	<style>
		body {
			background-image: url("https://st2.depositphotos.com/3300441/11588/i/950/depositphotos_115884046-stock-photo-complements-set-background.jpg");
			background-size: cover;
			background-repeat: no repeat;
		}
	{# 	ul {
			list-style-type: none;
		}

		li {
			display: inline-block;
		}

		input[type="checkbox"][id^="cb"] {
			display: none;
		}

		label:not(.q) {
			border: 1px solid #fff;
			padding: 8px;
			display: block;
			position: relative;
			margin: 10px;
			cursor: pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		label::before {
			background-color: white;
			color: white;
			content: " ";
			display: block;
			border-radius: 50%;
			border: 1px solid grey;
			position: absolute;
			top: -5px;
			left: -5px;
			width: 25px;
			height: 25px;
			text-align: center;
			line-height: 28px;
			transition-duration: 0.4s;
			transform: scale(0);
		}

		label img {
			height: 100px;
			width: 100px;
			transition-duration: 0.2s;
			transform-origin: 50% 50%;
		}

		:checked+label {
			border-color: #ddd;
		}

		:checked+label::before {
			content: "✓";
			background-color: grey;
			transform: scale(1);
		}

		:checked+label img {
			transform: scale(0.9);
			box-shadow: 0 0 5px #333;
			z-index: -1;
		} #}
	</style>

	<div class="body">
		<div class="container c1">
			{{ form_start(form) }}
			<div
				id="form" class="form">
				{#  {% if chambreMode is defined %}
				                         <h2>Modifier Chambre</h2>
				                    {% else %}
				                        <h2>Ajout complement</h2>
				                    {% endif %}
				                #}
				<div class="form-control ">
					<label for="Nom_complement" class="q">Nom Menu</label>
					{{ form_widget(form.nom) }}
					<small>
						{{ form_errors(form.nom) }}</small>
					<div class="invalid-feedback"></div>
				</div>
				<div class="form-control ">
					<label for="Prix" class="q">Burgers</label>
					{{ form_widget(form.burger) }}
					<small>
						{{ form_errors(form.burger) }}</small>
					<div class="invalid-feedback"></div>
				</div>
				 <div class="form-control">
				    <label for="Prix">Complements</label>              
				</div> 
				 <div class="checkbox" id="affecter" >
                    <div class="check">
                        <label for="" class="form-check"> 
                            {{form_widget(form.complements)}} <br>
                        </label>
                        
                    </div>
					<small>
						{% if errorComplement is defined %}
							{{ errorComplement }}
						{% endif %}
					</small>
                </div>
						
			
				<div class="form-control">
					<label for="description" lass="q">Image
					</label>
					{{ form_widget(form.image.nom) }}
					<small></small>
					<div class="invalid-feedback">{{ form_errors(form.image.nom) }}</div>
				</div>
				{{ form_widget(form.Valider) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/menuBurger.js')}}"></script>
{% endblock %}
