{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
 <style>
		body {
			background-image: url("https://st2.depositphotos.com/3300441/11588/i/950/depositphotos_115884046-stock-photo-complements-set-background.jpg");
			background-size: cover;
			background-repeat: no repeat;
		}
	
</style>

 <div class="body">
        <div class="container c1">
            {{ form_start(form) }}
               <div id="form" class="form">
                   {#  {% if chambreMode is defined %}
                         <h2>Modifier Chambre</h2>
                    {% else %}
                        <h2>Ajout complement</h2>
                    {% endif %}
                #}
                        <div class="form-control">
                            <label for="Nom_complement">Nom Menu</label>
                            {{ form_widget(form.nom) }}
                            <small> {{ form_errors(form.nom) }}</small>
							 <div class="invalid-feedback"></div>
                        </div>
						<div class="form-control">
                            <label for="Prix">Burgers</label>
                            {{ form_widget(form.burger) }}
                            <small> {{ form_errors(form.burger) }}</small>
							 <div class="invalid-feedback"></div>
                        </div>
                        {# <div class="form-control">
                            <label for="Prix">Complements</label>
                            {{ form_widget(form.complements) }}
                            <small> {{ form_errors(form.complements) }}</small>
							 <div class="invalid-feedback"></div>
                        </div> #}
						 <div class="checkbox" id="affecter" >
						 <label for="Prix">Complements</label>
                            <div class="check">
                              
                                <label for="" class="form-check"> 
                                    {{form_widget(form.complements)}}
                                </label>
                              
                            </div>
                        </div>
                      
						<div class="form-control">
                            <label for="description">Image </label>
                            {{ form_widget(form.image.nom) }}
							 <small> </small>
							  <div class="invalid-feedback">{{ form_errors(form.image.nom) }}</div>
                        </div>
                       {{ form_widget(form.Valider) }}
               </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
 {{parent()}}
	<script src="{{asset('js/menuBurger.js')}}"></script>
{% endblock %}
