{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="column">

			<div class="card">
				{% for message in app.flashes('success') %}
					<div class="alert alert-danger" style="background-color: #adeace;padding:10px;text-align:center;border-radius:5px;margin-bottom:5px;">
						{{ message }}
					</div>
				{% endfor %}
				<div class="row" style=" margin-bottom: 14px;">
					
					<a href="{{path('list_menu')}}" style="margint-top:1.2%;" class="link2">
					
						<i class="fas fa-arrow-left "></i>
                        	Liste des Menus
					</a>
				</div>
				<div style="overflow-x:auto;">
					<table>
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nom</th>
								<th scope="col">Composants</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						{% for menu in menus %}
							<tr>
								<td class="thbottom">
									<img
										src="{{asset('img/uploads/' ~ menu.image.nom)}}" alt="" class="" style="width:55px;height:55px">
								</td>
								<td class="thbottom">{{menu.nom}}</td>
								<td class="thbottom">
									<a href="{{path('edit_menu',{'id':menu.id})}}" class="btnajout">
										<i class="fas fa-plus"></i>
										voir
									</a>
								</td>

								<td class="thbottom">
									<a href="{{path('edit_menu',{'id':menu.id})}}" class="">
										<i class="fas fa-edit edit c-edit"></i>
										update
									</a>
									<a href="{{path('change_etat_menu',{'id':menu.id})}}" class="">
										<i class="fa-solid fa-file-zipper c-primary"></i>
										desarchiver
									</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>

			<div class="p">
				<div class="pagination">
					{{ knp_pagination_render(menus,'./pagination.twig') }}
				</div>
			</div>
		</div>
	</div>

</div>{% endblock %}
