{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
	<section class="home-section2">

		<div class="home-content">
			<div class="overview-boxes">
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Total Commandes</div>
						<div class="number">{{totalCommande}}</div>

					</div>
					<i class='bx bx-cart-alt cart'></i>
				</div>
				<div class="box">
					<div class="right-side">
						<div class="box-topic">commandes journée</div>
						<div class="number">{{totalCommandeEncours}}</div>

					</div>
					<i class='bx bxs-cart-add cart two'></i>
				</div>
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Commandes Validees</div>
						<div class="number">{{totalCommandeValider}}</div>

					</div>
					<i class='bx bx-cart cart three'></i>
				</div>
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Commandes annulees</div>
						<div class="number">{{totalCommandeAnnuler}}</div>

					</div>
					<i class='bx bxs-cart-download cart four'></i>
				</div>
			</div>
			<div class="overview-boxes">
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Total Menus</div>
						<div class="number">{{totalMenu}}</div>

					</div>
					<i class='bx bx-cart-alt cart'></i>

				</div>
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Total Bugers</div>
						<div class="number">{{totalBurger}}</div>

					</div>
					<i class='bx bxs-cart-add cart two'></i>
				</div>
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Total Complements</div>
						<div class="number">{{totalComplement}}</div>

					</div>
					<i class='bx bx-cart cart three'></i>
				</div>
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Total Return</div>
						<div class="number">11,086</div>

					</div>
					<i class='bx bxs-cart-download cart four'></i>
				</div>
			</div>

			<div class="sales-boxes">
				<div class="recent-sales box">
					<div class="title">Commande Encours de la journée</div>


					<div class="sales-details">
						<ul class="details">
							<li class="topic">Date</li>
							{% for item in commandeEncours %}
								<li>
									<a href="#">{{item.dateCommande|date('d-m-Y')}}</a>
								</li>
							{% endfor %}

						</ul>
						<ul class="details">
							<li class="topic">Client</li>
							{% for item in commandeEncours %}
								<li>
									<a href="#">{{item.client.nom}}</a>
								</li>
							{% endfor %}

						</ul>
						<ul class="details">
							<li class="topic">Commandes</li>
							{% for item in commandeEncours %}
								<li>
									<a href="#">
                    {% for burger in item.burger %}
                          {{burger.nom}} +
                    {% endfor %}
                    
                    {% for menu in item.menu %}
                          {{menu.nom}} +
                    {% endfor %}
                  </a>
								</li>
							{% endfor %}

						</ul>
						<ul class="details">
							<li class="topic">Montant</li>
							{% for item in commandeEncours %}
								<li>
									<a href="#">{{item.montant}} FCFA</a>
								</li>
							{% endfor %}
						</ul>

					</div>

					{% if isPaginated is defined and commandeEncours %}
					<div class="p">
						<div class="pagination">
							<nav aria-label="Page navigation example " class=" ">
								<ul class="pagination float-end  d-flex gap-2">
									{% if page != 1 %}
										<li class="page-item rounded-1 ">
											<a class="page-link border active2 border-danger border-1 " href="{{ path('dashboard', {page : page - 1 ,nbr : nbr }) }}" aria-label="Next">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
									{% endif %}
									{% for i in range (1 , nbrPage) %}
										{% if i != 0 %}
											{# <a class="a" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a> #}
											<li class="page-item rounded-1 ">
												<a class="page-link border border-danger border-1 notactive" href="{{ path('dashboard', {page : i ,nbr : nbr }) }}">{{i}}</a>
											</li>

										{% endif %}
									{% endfor %}
									{% if page != nbrPage %}
										<li class="page-item rounded-1 ">
											<a class="page-link border border-danger border-1 active2" href="{{ path('dashboard', {page : page + 1 ,nbr : nbr }) }}" aria-label="Previous">
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
									{% endif %}

								</ul>
							</nav>
						</div>
					</div>
				{% endif %}
				</div>
				<div class="top-sales box">
					<div class="title">Top Seling Product</div>
					<ul class="top-sales-details">
						<li>
							<a
								href="#">
								<!--<img src="images/sunglasses.jpg" alt="">-->
								<span class="product">Vuitton Sunglasses</span>
							</a>
							<span class="price">$1107</span>
						</li>
						<li>
							<a
								href="#">
								<!--<img src="images/jeans.jpg" alt="">-->
								<span class="product">Hourglass Jeans
								</span>
							</a>
							<span class="price">$1567</span>
						</li>
						<li>
							<a
								href="#">
								<!-- <img src="images/nike.jpg" alt="">-->
								<span class="product">Nike Sport Shoe</span>
							</a>
							<span class="price">$1234</span>
						</li>
						<li>
							<a
								href="#">
								<!--<img src="images/scarves.jpg" alt="">-->
								<span class="product">Hermes Silk Scarves.</span>
							</a>
							<span class="price">$2312</span>
						</li>
						<li>
							<a
								href="#">
								<!--<img src="images/blueBag.jpg" alt="">-->
								<span class="product">Succi Ladies Bag</span>
							</a>
							<span class="price">$1456</span>
						</li>
						<li>
							<a
								href="#">
								<!--<img src="images/bag.jpg" alt="">-->
								<span class="product">Gucci Womens's Bags</span>
							</a>
							<span class="price">$2345</span>
						</li>
						<li>
							<a
								href="#">
								<!--<img src="images/addidas.jpg" alt="">-->
								<span class="product">Addidas Running Shoe</span>
							</a>
							<span class="price">$2345</span>
						</li>
						<li>
							<a
								href="#">
								<!--<img src="images/shirt.jpg" alt="">-->
								<span class="product">Bilack Wear's Shirt</span>
							</a>
							<span class="price">$1245</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block javascripts %}

	<style>
		/* Googlefont Poppins CDN Link */
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Poppins', sans-serif;
		}
		.p {
			margin-top: 18%;
		}
		.home-section2 .home-content {
			position: relative;
			padding-top: 24px;
		}
		.home-content .overview-boxes {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 0 20px;
			margin-bottom: 26px;
		}
		.overview-boxes .box {
			display: flex;
			align-items: center;
			justify-content: center;
			width: calc(100% / 4 - 15px);
			background: rgba(249, 247, 236, 1);
			padding: 15px 14px;
			border-radius: 12px;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		}
		.overview-boxes .box-topic {
			font-size: 18px;
			font-weight: 500;

			margin-bottom: 7px;
		}
		.home-content .box .number {
			display: inline-block;
			font-size: 25px;
			margin-top: -6px;
			font-weight: 500;
		}
		.home-content .box .indicator {
			display: flex;
			align-items: center;
		}
		.right-side {
			margin-right: auto;
		}
		.home-content .box .indicator i {
			height: 20px;
			width: 20px;
			background: #8FDACB;
			line-height: 20px;
			text-align: center;
			border-radius: 50%;
			color: #fff;
			font-size: 20px;
			margin-right: 5px;
		}
		.box .indicator i.down {
			background: #e87d88;
		}
		.home-content .box .indicator .text {
			font-size: 12px;
		}
		.home-content .box .cart {
			display: inline-block;
			font-size: 32px;
			height: 50px;
			width: 50px;
			background: #cce5ff;
			line-height: 50px;
			text-align: center;
			color: #66b0ff;
			border-radius: 12px;
			margin: -15px 0 0 6px;
		}
		.home-content .box .cart.two {
			color: #2BD47D;
			background: #C0F2D8;
		}
		.home-content .box .cart.three {
			color: #ffc233;
			background: #ffe8b3;
		}
		.home-content .box .cart.four {
			color: #e05260;
			background: #f7d4d7;
		}
		.home-content .total-order {
			font-size: 20px;
			font-weight: 500;
		}
		.home-content .sales-boxes {
			display: flex;
			justify-content: space-between;
			/* padding: 0 20px; */

		}

		/* left box */
		.home-content .sales-boxes .recent-sales {
			width: 65%;
			background: rgba(249, 247, 236, 1);
			padding: 20px 30px;
			margin: 0 20px;
			border-radius: 12px;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		}
		.home-content .sales-boxes .sales-details {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.sales-boxes .box .title {
			font-size: 24px;
			font-weight: 500;
			/* margin-bottom: 10px; */
		}
		.sales-boxes .sales-details li.topic {
			font-size: 20px;
			font-weight: 500;
			color: #e04218;
		}
		.sales-boxes .sales-details li {
			list-style: none;
			margin: 8px 0;
		}
		.sales-boxes .sales-details li a {
			font-size: 18px;
			color: #333;
			font-size: 400;
			text-decoration: none;
		}
		.sales-boxes .box .button {
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
		.sales-boxes .box .button a {
			color: #fff;
			background: #0A2558;
			padding: 4px 12px;
			font-size: 15px;
			font-weight: 400;
			border-radius: 4px;
			text-decoration: none;
			transition: all 0.3s ease;
		}
		.sales-boxes .box .button a:hover {
			background: #0d3073;
		}

		/* Right box */
		.home-content .sales-boxes .top-sales {
			width: 35%;
			background: #fff;
			padding: 20px 30px;
			margin: 0 20px 0 0;
			border-radius: 12px;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		}
		.sales-boxes .top-sales li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 10px 0;
		}
		.sales-boxes .top-sales li a img {
			height: 40px;
			width: 40px;
			object-fit: cover;
			border-radius: 12px;
			margin-right: 10px;
			background: #333;
		}
		.sales-boxes .top-sales li a {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
		.sales-boxes .top-sales li .product,
		.price {
			font-size: 17px;
			font-weight: 400;
			color: #333;
		}
		/* Responsive Media Query */
		@media(max-width: 1240px) {
			.sidebar {
				width: 60px;
			}
			.sidebar.active {
				width: 220px;
			}
			.home-section2 {
				width: calc(100% - 60px);
				left: 60px;
			}
			.sidebar.active ~ .home-section2 {
				/* width: calc(100% - 220px); */
				overflow: hidden;
				left: 220px;
			}
			.home-section2 nav {
				width: calc(100% - 60px);
				left: 60px;
			}
			.sidebar.active ~ .home-section2 nav {
				width: calc(100% - 220px);
				left: 220px;
			}
		}
		@media(max-width: 1150px) {
			.home-content .sales-boxes {
				flex-direction: column;
			}
			.home-content .sales-boxes .box {
				width: 100%;
				overflow-x: scroll;
				margin-bottom: 30px;
			}
			.home-content .sales-boxes .top-sales {
				margin: 0;
			}
		}
		@media(max-width: 1000px) {
			.overview-boxes .box {
				width: calc(100% / 2 - 15px);
				margin-bottom: 15px;
			}
		}
		@media(max-width: 700px) {
			nav .sidebar-button .dashboard,
			nav .profile-details .admin_name,
			nav .profile-details i {
				display: none;
			}
			.home-section2 nav .profile-details {
				height: 50px;
				min-width: 40px;
			}
			.home-content .sales-boxes .sales-details {
				width: 560px;
			}
		}
		@media(max-width: 550px) {
			.overview-boxes .box {
				width: 100%;
				margin-bottom: 15px;
			}
			.sidebar.active ~ .home-section2 nav .profile-details {
				display: none;
			}
		}
		@media(max-width: 400px) {
			.sidebar {
				width: 0;
			}
			.sidebar.active {
				width: 60px;
			}
			.home-section2 {
				width: 100%;
				left: 0;
			}
			.sidebar.active ~ .home-section2 {
				left: 60px;
				width: calc(100% - 60px);
			}
			.home-section2 nav {
				width: 100%;
				left: 0;
			}
			.sidebar.active ~ .home-section2 nav {
				left: 60px;
				width: calc(100% - 60px);
			}
		}
	</style>
	<script>
		let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function () {

sidebar.classList.toggle("active");
if (sidebar.classList.contains("active")) {

sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");

}
else 
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");


}
	</script>


{% endblock %}
