{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="column">

			<div class="card">
				{% for message in app.flashes('archiveM') %}
					<div class="alert alert-danger" id="archive" style="background-color: #adeace;padding:10px;text-align:center;border-radius:5px;margin-bottom:8px;">
						{{ message }}
					</div>
				{% endfor %}
			
				<div class="row" style="margin-top: 1.5%;">
					<a href="{{path('add_menu')}}" class="btnajout">
						<i class="fas fa-plus "></i>Ajout
					</a>
					<a href="{{path('list_menu_archive')}}" style="margint-top:1.2%;" class="link">
						Liste des archives
						<i class="fas fa-arrow-right "></i>
					</a>
				</div>
				<div style="overflow-x:auto;">
					<table>
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nom</th>
								<th scope="col">Composants</th>
								<th scope="col">Prix</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						{% for menu in menus %}
							<tr>
								<td class="thbottom">
									<img src="{{asset('img/uploads/' ~ menu.image.nom)}}" alt="" class="" style="width:55px;height:55px">
								</td>
								<td class="thbottom">{{menu.nom}}</td>
								<td class="thbottom">
								{{menu.burger.nom}} /
									{% for item in menu.complements %}
										{{item.nom}} /    
									{% endfor %}
									
								</td>
								<td class="thbottom">
								{% set total = 0 %}
								{% set montant = 0 %}
									{% for item in menu.complements %}
										 {% set montant = montant + item.prix %}        
									{% endfor %}
									{% set total = montant + menu.burger.prix  %}
									{{total}} FCFA
								</td>

								<td class="thbottom">
									<a href="{{path('edit_menu',{'id':menu.id})}}" class="">
										<i class="fas fa-edit edit c-edit"></i>
										update
									</a>
									<a href="{{path('archive_menu',{'id':menu.id})}}" class="">
										<i class="fa-solid fa-file-zipper c-primary"></i>
										archiver
									</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<div class="p">
					<div class="pagination">
						{{ knp_pagination_render(menus,'./pagination.twig') }}
					</div>
				</div>
			</div>


		</div>
	</div>

</div>{% endblock %}
